@model  Charity.Mvc.ViewModels.IndexModel


<section id="stats" class="stats">

    <div class="container container--85">
        <div class="stats--item">
            <em>@Model.Quantity</em>
            <h3>Oddanych worków</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum tempora!</p>
        </div>

        <div class="stats--item">
            <em>@Model.AllInstitutions</em>
            <h3>Wspartych organizacji</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate quas quam.</p>
        </div>

    </div>
</section>

@Html.Partial("_StepsSection")

@Html.Partial("_AboutUsSection")


<section id="help" class="help">
    <h2>Komu pomagamy?</h2>

    <!-- SLIDE 1 -->
    <div class="help--slides active" data-id="1">
        <p>
            W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy.
            Możesz sprawdzić czym się zajmują.
        </p>

        <ul class="help--slides-items">
            @{
                var counter = 0;
                foreach (var institution in Model.InstitutionList)
                {
                    counter++;

                    if (counter % 2 != 0)
                    {
                        @:<li>
                            <div class="col">
                                <div class="title">Fundacja @institution.Name</div>
                                <div class="subtitle">Cel i misja: @institution.Description</div>
                            </div>

                            if (Model.InstitutionList.Count == counter)
                            {<div class="last"></div>}
                        }
                        else
                        {
                            <div class="col">
                                <div class="title">Fundacja @institution.Name</div>
                                <div class="subtitle">Cel i misja: @institution.Description</div>
                            </div>
                        @:</li>
                    }
                }
            }
        </ul>

    </div>

</section>